<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Horizon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="container" style="position: fixed; height: 100vh; width: 100%;">
    <header>
        <nav class="sidebar">
            <div style="padding-top: 20px;">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li style="padding-bottom: 20px;"><a class="" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/external-content.duckduckgo.com.png" style="width: 4em;" alt="Home" /></a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Weather">Current Weather</a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ExtendedWeather">Extended Forecast</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="contentMain" class="container">
        <main role="main" class="pb-3 text-light">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/5f597d47dc.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
