<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Horizon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="text-light">
    <!--<header>-->
    @*@Html.Partial("_Menu")*@
    <!--</header>-->

    <div class="bodyBox rounded">
        <div class="headBox rounded">
            <!--<div class="row">
                <partial name="_Menu" />-->
            <!-- Testing partials -->
            <!--</div>-->
            <div class="row navBox rounded">
                <div class="col-4">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/external-content.duckduckgo.com.png" style="width: 4em;" alt="Home" />
                    </a>
                </div>
                <div class="col-8">
                    <h3 class="justify-content-sm-center text-center">What's on your <i>Horizon</i> today?</h3>
                </div>
                @*<li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ExtendedWeather">Extended Forecast</a></li>*@
            </div>
            <div class="row d-flex justify-content-center" style="background-color: #0c121a;">
                <main role="main" class="text-light">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Added FontAwesome for fun icons -->
    <script src="https://kit.fontawesome.com/5f597d47dc.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
