@{ ViewBag.Title = "Index Page"; }

@using (Html.BeginForm("Weather", "Home", FormMethod.Post))
{ 
    <table>
        <tr>
            <td>City:</td>
            <td>@Html.TextBox("City")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}

@using (Html.BeginForm("ExtendedWeather", "Home", FormMethod.Post))
{ 
    <table>
        <tr>
            <td>City:</td>
            <td>@Html.TextBox("City")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}
