@{ ViewBag.Title = "Index Page"; }


<div>
    @using (Html.BeginForm("ExtendedWeather", "Home", FormMethod.Post))
    {
        <span>Location:</span>@Html.TextBox("City")
        <input type="submit" value="Submit" />
    }
</div>
