@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="/" method="post">
        <label for="text">Location:</label>
        <input class="bg-secondary" type="text" name="location" placeholder="Birmingham, US" />
        <input class="bg-primary" type="submit" value="Submit" />
    </form>
</div>
