/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* vvvvv Colors vvvvv */
/*#E7517E*/
/*#FAB283*/
/*#62B3C5*/
/*#A8DCE3*/
/*#304D60*/
/*#0c121a*/
/*#090a0f*/
/* ^^^^^ Colors ^^^^^ */

.bodyBox {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 4%;
    background: #0c121a;
    background-attachment: fixed;
    border: solid 1px white;
}

.navBox {
    /*position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;*/
    background: #0c121a;
}

body {
    position: relative;
    /*justify-content: center;*/
    height: 100vh;
    /*background: linear-gradient(0deg, #FAB283, #1b0262 40%, #000000);*/
    background-image: url("../images/overlay.png"), linear-gradient(0deg, #FAB283, #1b0262 40%, #000000);
    background-attachment: fixed;
    z-index: 2;
}

.table
{
    /*border: solid 1px;*/
}

.table th,
.table td {
    border: 0;
}

/*.sidebar {
    position: absolute;
    height: 10vh;
    width: 200px;
    background-color: #0c121a;
    text-align: center;
    display: flex;
    justify-content: center;
}

.table {
}

.table th,
.table td {
    border-top: 0;
}

#contentMain {
    margin-left: 200px;
    margin-left: 200px;
    margin-top: 200px;
    height: 100vh;
    background-color: transparent;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0deg, #1b0262, #000000 40%);
    background-attachment: fixed;
}*/
